$color-light: #fff;
$color-primary: #FFC000;
$color-secondary: rgb(3, 71, 90, 1);
$color-secondary-dark: rgb(1, 27, 34, 1);
$color-secondary-overlay: rgba(0, 38, 49, 0.297); 
$border-radius: 5px;

// Border
$global-border-radius: 4px;

// Padding
$global-padding: 15px;
$global-padding-vertical-container: 2%;
$global-padding-grid: 2%;

// Sizes
$global-h1: 26px;
$global-h2: 24px;
$global-h3: 22px;
$global-h4: 20px;
$global-h5: 18px;
$global-h6: 14px;

// Colors
$color-heading: #5f5f5f;
$color-body: #e0e0e0;
$color-card: #fafafa;
$color-goblal: #1974DB