@mixin border {
    -webkit-border-radius: $border-radius;
    -moz-border-radius: $border-radius;
    border-radius: $border-radius;
}
@mixin border-first {
    -webkit-border-radius: $border-radius 0px 0px $border-radius !important;
    -moz-border-radius: $border-radius 0px 0px $border-radius !important;
    border-radius: $border-radius 0px 0px $border-radius !important;
}
@mixin border-last {
    -webkit-border-radius: 0px $border-radius $border-radius 0px !important;
    -moz-border-radius: 0px $border-radius $border-radius 0px !important;
    border-radius: 0px $border-radius $border-radius 0px !important;
}
@mixin border-top {
    -webkit-border-radius: $border-radius $border-radius 0px 0px !important;
    -moz-border-radius: $border-radius $border-radius 0px 0px !important;
    border-radius: $border-radius $border-radius 0px 0px !important;
}
@mixin border-bottom {
    -webkit-border-radius: 0px 0px $border-radius $border-radius !important;
    -moz-border-radius: 0px 0px $border-radius $border-radius !important;
    border-radius: 0px 0px $border-radius $border-radius !important;
}

@mixin transition() {
    -webkit-transition: all 6.2s 0s linear, all 0.5s 0s ease;
    -moz-transition: all 6.2s 0s linear, all 0.5s 0s ease;
    -o-transition: all 6.2s 0s linear, all 0.5s 0s ease;
    transition: all 6.2s 0s linear, all 0.5s 0s ease;
}

@mixin btnTransition() {
    // -webkit-transition: .1s ease-in-out;
    // -moz-transition: .1s ease-in-out;
    // -o-transition: .1s ease-in-out;
    // transition: .1s ease-in-out;

    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

@mixin borderRadius() {
    -webkit-border-radius: $global-border-radius;
    -moz-border-radius: $global-border-radius;
    border-radius: $global-border-radius;
}

@mixin linearGradient($star: 0%, $stop: 100%) {
    background: $color-secondary; 
    background: -moz-linear-gradient(149deg, $color-secondary $star, $color-secondary-dark $stop);
    background: -webkit-linear-gradient(149deg, $color-secondary $star, $color-secondary-dark $stop);
    background: linear-gradient(149deg, $color-secondary $star, $color-secondary-dark $stop);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#033a49",endColorstr="#011b22",GradientType=1);
}

// .floating-input:focus ~ .highlight , .floating-select:focus ~ .highlight {
//   -webkit-animation:inputHighlighter 0.3s ease;
//   -moz-animation:inputHighlighter 0.3s ease;
//   animation:inputHighlighter 0.3s ease;
// }

// @-webkit-keyframes inputHighlighter {
// 	from { background:#5264AE; }
//   to 	{ width:0; background:transparent; }
// }
// @-moz-keyframes inputHighlighter {
// 	from { background:#5264AE; }
//   to 	{ width:0; background:transparent; }
// }
// @keyframes inputHighlighter {
// 	from { background:#5264AE; }
//   to 	{ width:0; background:transparent; }
// }
