### Framework Liloo ###
__old/
_Kernel/Libs/
_Kernel/___Kernel.php
cache/
themes/kitreact/
uploads/

### Git
.gitignore
.git/
libs/@materialize/
libs/@mui/
.env

### Importantes ###
composer.lock
.vscode
php.ini
info.md
# *.txt
*.xlsx
*.doc
