### Framework Liloo ###
__old/
_Kernel/Libs/
cache/
themes/kitreact/
uploads/


# !_kernel/__Kernel.php

### Git
.gitignore
.git/
libs/@materialize/
libs/@mui/


### Importantes ###
composer.lock
.vscode
php.ini
info.md
# *.txt
*.xlsx
*.doc
