### Framework Liloo ###

_Kernel/Libs/
uploads/*
themes/kitreact/

# !_kernel/__Kernel.php

### Git
.gitignore
.git/
libs/@materialize/
libs/@mui/


### Importantes ###
composer.lock
.vscode
php.ini
# *.txt
*.xlsx
*.doc
