<ul uk-accordion>
    {% for item in data %}
        <li>
            <a class="uk-accordion-title" href="#">{{ item.prod_title }}</a>
            <div class="uk-accordion-content">
                <p>{{ item.prod_description }}</p>
            </div>
        </li>
    {% endfor %}
</ul>