@charset "UTF-8";
/* Reset */
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

button {
  background-color: transparent;
}

[liloo-loader] .liloo-loader-spinner {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.08);
  position: fixed;
  z-index: 9999999;
  display: flex;
  align-items: center;
  justify-content: center;
}

[uk-slideshow] h2,
[uk-slider] h2 {
  margin-bottom: 0;
}
[uk-slideshow] small,
[uk-slider] small {
  font-size: 10px;
  color: #30006B;
  background: #42AD00;
  padding: 2px 6px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
[uk-slideshow] .uk-dotnav a,
[uk-slider] .uk-dotnav a {
  height: 12px !important;
  width: 12px !important;
}
[uk-slideshow] .uk-dotnav .uk-active > *,
[uk-slider] .uk-dotnav .uk-active > * {
  background-color: #30006B;
}
[uk-slideshow] .uk-slidenav-container a,
[uk-slider] .uk-slidenav-container a {
  color: #30006B !important;
  height: 35px !important;
  width: 25px !important;
  background: #f6f6f6;
  margin: 0 0 5px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

/* Back to top */
.liloo-backtotop {
  background: #fff;
  width: 38px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-items: center;
  vertical-align: middle;
  position: fixed;
  bottom: 25px;
  right: 25px;
  border-radius: 64px;
  padding: 0 0 0 21px;
  -webkit-box-shadow: 0px 2px 26px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 2px 26px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 2px 26px 0px rgba(0, 0, 0, 0.15);
  z-index: 999999;
}

/* CTA */
.liloo-cta {
  background: #30006B;
  background: -moz-linear-gradient(149deg, #30006B 0%, #1e0141 80%);
  background: -webkit-linear-gradient(149deg, #30006B 0%, #1e0141 80%);
  background: linear-gradient(149deg, #30006B 0%, #1e0141 80%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#033a49",endColorstr="#011b22",GradientType=1);
}

/* NOTIFICATION */
.uk-notification-message {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 16px;
}

.uk-notification-message svg {
  color: #ffffff;
}

.uk-notification-message-success {
  background-color: #099a09 !important;
  color: #ffffff;
}

.uk-notification-message-danger {
  background-color: #8f0b0b !important;
  color: #ffffff;
}

.uk-notification-message-warning {
  background-color: #d9a109 !important;
  color: #ffffff;
}

.uk-notification-message-primary {
  background-color: #0378b3 !important;
  color: #ffffff;
}

/* HOME  */
#home-banner-slide .uk-slidenav-container a {
  color: #000 !important;
  height: 50px;
  width: 50px;
  background: #f6f6f6;
  margin: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

#home-banner {
  display: block;
  width: 100%;
  position: absolute;
  top: 250px !important;
  text-align: center;
}
#home-banner h1 {
  font-size: 40px !important;
  color: #fff !important;
}
#home-banner p {
  font-size: 16px !important;
  color: #fff;
}

@media only screen and (max-width: 640px) {
  #home-banner {
    top: 200px !important;
  }
  #home-banner h1 {
    padding: 0 40px !important;
    font-size: 25px !important;
  }
  #home-banner p {
    padding: 0 40px !important;
    font-size: 14px !important;
  }

  #home-banner-slide,
#home-banner-slide .uk-slideshow-items {
    height: 620px !important;
  }
}
@media only screen and (max-width: 980px) {
  #home-banner {
    top: 290px !important;
  }
  #home-banner h1 {
    font-size: 30px !important;
  }
}
.liloo-form-search {
  background: rgba(0, 38, 49, 0.297);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.liloo-form-search form {
  z-index: 9 !important;
}
.liloo-form-search input {
  width: 100% !important;
  /* Firefox 18- */
  /* Firefox 19+ */
}
.liloo-form-search input::-webkit-input-placeholder {
  color: #30006B !important;
}
.liloo-form-search input:-moz-placeholder {
  color: #30006B !important;
}
.liloo-form-search input::-moz-placeholder {
  color: #30006B !important;
}
.liloo-form-search input:-ms-input-placeholder {
  color: #30006B !important;
}
.liloo-form-search button {
  padding: 0 18.5px !important;
}
.liloo-form-search .first {
  -webkit-border-radius: 5px 0px 0px 5px !important;
  -moz-border-radius: 5px 0px 0px 5px !important;
  border-radius: 5px 0px 0px 5px !important;
}
.liloo-form-search .last {
  -webkit-border-radius: 0px 5px 5px 0px !important;
  -moz-border-radius: 0px 5px 5px 0px !important;
  border-radius: 0px 5px 5px 0px !important;
}
.liloo-form-search .uk-inline {
  display: block !important;
}
.liloo-form-search .uk-inline span {
  color: #30006B;
  left: 8 !important;
  z-index: 99;
  margin-top: 3px;
}

@media screen and (max-width: 640px) {
  .liloo-form-search {
    width: 95%;
  }
  .liloo-form-search .first {
    -webkit-border-radius: 5px 5px 0px 0px !important;
    -moz-border-radius: 5px 5px 0px 0px !important;
    border-radius: 5px 5px 0px 0px !important;
  }
  .liloo-form-search .last {
    -webkit-border-radius: 0px 0px 5px 5px !important;
    -moz-border-radius: 0px 0px 5px 5px !important;
    border-radius: 0px 0px 5px 5px !important;
  }
}
@media screen and (max-width: 980px) {
  .liloo-form-search {
    width: 85%;
  }
}
#home-categories div {
  z-index: 0 !important;
}
#home-categories .uk-card {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
#home-categories .uk-card h2 {
  font-size: 16px !important;
}
#home-categories a:hover {
  text-decoration: none;
}

@media screen and (max-width: 640px) {
  #home-categories .uk-card h2 {
    font-size: 14px !important;
  }
}
#ads-banner img {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

#ads-cards img {
  -webkit-border-radius: 5px 5px 0px 0px !important;
  -moz-border-radius: 5px 5px 0px 0px !important;
  border-radius: 5px 5px 0px 0px !important;
}
#ads-cards ul li .uk-card h3 {
  margin: 2px 0;
  font-size: 16px;
}
#ads-cards ul li .uk-card .aval {
  display: block;
  margin-bottom: 10px;
}
#ads-cards ul li .uk-card .categ {
  background-color: #f1f1f1 !important;
  padding: 5px;
  font-size: 12px !important;
  color: #535353;
  display: inline-block;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
#ads-cards ul li .uk-card .phone, #ads-cards ul li .uk-card address {
  margin: 0;
}
#ads-cards ul li .uk-card .see {
  font-weight: 600;
  margin-bottom: 10px;
}
#ads-cards ul li .uk-card button {
  font-weight: 800;
  line-height: 0;
  padding: 0;
  font-size: 14px !important;
  color: #30006B !important;
}
#ads-cards ul li .uk-card .controls a {
  color: #30006B;
  background-color: #f1f1f1;
  padding: 0 5px;
  line-height: 30px;
  margin-right: 3px;
  margin-bottom: 5px;
}
#ads-cards ul li .uk-card .controls a i {
  margin: 0;
}

@media (max-width: 960px) {
  #ads-banner .uk-slideshow-items {
    min-height: 450px !important;
  }
}
/* Menu */
#liloo-menu-top-desktop {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  padding: 0 30px;
  background-color: #f8f8f8;
}
#liloo-menu-top-desktop .logo {
  width: 160px;
  margin-right: 20px;
}
#liloo-menu-top-desktop .uk-navbar-nav li a {
  font-size: 16px !important;
  font-weight: 600;
  text-transform: inherit !important;
  color: #30006B !important;
}
#liloo-menu-top-desktop .uk-navbar-nav li a:hover {
  background: #dedede !important;
}
#liloo-menu-top-desktop .uk-navbar-nav .uk-navbar-item a {
  font-size: 16px !important;
  margin: 0 3px;
}
#liloo-menu-top-desktop .uk-navbar-nav .uk-navbar-item .uk-button-link {
  color: #30006B !important;
  font-weight: 600;
  padding: 8px 10px;
}
#liloo-menu-top-desktop .uk-navbar-nav .uk-navbar-item .uk-button-link:hover {
  background-color: #dedede;
}
#liloo-menu-top-desktop .uk-navbar-nav .uk-navbar-item .uk-button-default {
  border: 2px solid #30006B !important;
  color: #30006B !important;
  font-weight: 600;
}
#liloo-menu-top-desktop .uk-navbar-nav .uk-navbar-item .uk-button-default:hover {
  background-color: #dedede;
}
#liloo-menu-top-desktop .uk-navbar-nav [uk-dropdown] {
  top: 80px !important;
  padding: 15px;
  border-top: 3px solid #42AD00;
  -webkit-border-radius: 0px 0px 5px 5px !important;
  -moz-border-radius: 0px 0px 5px 5px !important;
  border-radius: 0px 0px 5px 5px !important;
}
#liloo-menu-top-desktop .uk-navbar-nav [uk-dropdown] a {
  padding: 8px 10px;
}
#liloo-menu-top-desktop .uk-navbar-nav [uk-dropdown] a:hover {
  background-color: #dedede;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
#liloo-menu-top-desktop .uk-navbar-nav [uk-dropdown] a i {
  width: 30px;
}

#liloo-menu-top-mobile {
  display: none;
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  padding: 0 30px;
  background-color: #f8f8f8;
}
#liloo-menu-top-mobile [uk-nav] {
  z-index: 999;
}
#liloo-menu-top-mobile .logo {
  width: 160px;
}

#liloo-menu-top-offcanvas {
  z-index: 1000000 !important;
}
#liloo-menu-top-offcanvas .logo {
  width: 160px;
  margin-bottom: 30px;
}
#liloo-menu-top-offcanvas .uk-offcanvas-close {
  background: #42AD00;
  color: #30006B;
  padding: 8px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
#liloo-menu-top-offcanvas .uk-offcanvas-bar {
  background-color: #fff !important;
  -webkit-box-shadow: 0px 0px 21px -1px rgba(0, 0, 0, 0.34) !important;
  box-shadow: 0px 0px 21px -1px rgba(0, 0, 0, 0.34) !important;
  width: 350px;
}
#liloo-menu-top-offcanvas .uk-nav-default li a {
  font-size: 16px !important;
  font-weight: 600;
  text-transform: inherit !important;
  color: #30006B !important;
  padding: 8px 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
#liloo-menu-top-offcanvas .uk-nav-default li a:hover {
  background: #dedede !important;
}
#liloo-menu-top-offcanvas .uk-nav-default li a ::before {
  margin-right: 5px;
}
#liloo-menu-top-offcanvas .uk-nav-default .uk-navbar-item {
  display: block;
}
#liloo-menu-top-offcanvas .uk-nav-default .uk-navbar-item a {
  font-size: 16px !important;
  margin-top: 10px;
  width: 100%;
}
#liloo-menu-top-offcanvas .uk-nav-default .uk-navbar-item .uk-button-link {
  color: #30006B !important;
  font-weight: 600;
  padding: 8px 10px;
}
#liloo-menu-top-offcanvas .uk-nav-default .uk-navbar-item .uk-button-link:hover {
  background-color: #dedede;
}
#liloo-menu-top-offcanvas .uk-nav-default .uk-navbar-item .uk-button-default {
  border: 2px solid #30006B;
  color: #30006B;
  font-weight: 600;
}
#liloo-menu-top-offcanvas .uk-nav-default .uk-navbar-item .uk-button-default:hover {
  background-color: #dedede;
}
#liloo-menu-top-offcanvas .uk-nav-default .liloo-fix {
  margin-top: 20px;
  width: 310px;
}

@media screen and (max-width: 460px) {
  #liloo-menu-top-offcanvas .uk-offcanvas-bar {
    width: 250px;
  }
  #liloo-menu-top-offcanvas .liloo-fix {
    width: 210px !important;
  }
}
@media screen and (min-width: 640px) {
  #liloo-menu-top-offcanvas .liloo-fix {
    width: 290px !important;
  }
}
@media screen and (max-width: 980px) {
  #liloo-menu-top-desktop {
    display: none;
  }

  #liloo-menu-top-mobile {
    display: block;
  }
}
/* Botão */
.uk-button-primary {
  background: #42AD00 !important;
  color: #fff !important;
}
.uk-button-primary:hover {
  background: #30006B !important;
}

.uk-button-secondary {
  background: #30006B !important;
  color: #fff !important;
}
.uk-button-secondary:hover {
  background: #42AD00 !important;
  color: #30006B !important;
}

.uk-button-whatsapp {
  background: #0d9b0f;
  color: #fff;
}

.uk-button-whatsapp:hover {
  background: #0a6e0c;
  color: #fff;
}

.uk-button-text {
  text-transform: none;
}

.uk-button,
.flex-status {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-transform: none;
}

.uk-icon-button {
  width: 45px;
  height: 45px;
  border-radius: 500px;
  background: #efefef;
  color: #30006B;
}

/* Tamanhos dos botões */
.uk-button-xlarge {
  font-size: 22px;
  padding: 15px 40px;
}

/* Listview */
.item-listview {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.item-listview .title {
  font-size: 25px !important;
  margin: 0 !important;
}
.item-listview .categ {
  font-size: 16px !important;
  margin-top: 10px !important;
  margin-bottom: 5px !important;
  background-color: #f0f0f0;
  display: inline-block !important;
  padding: 2px 5px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.item-listview .description {
  margin: 0 !important;
}
.item-listview .opening {
  padding: 20px 0;
  margin-bottom: -25px !important;
}
.item-listview .opening .uk-accordion-title {
  font-size: 16px !important;
}
.item-listview .opening .uk-accordion-title::before {
  margin-right: 10px;
  margin-left: 0;
  float: left;
}
.item-listview .opening .uk-accordion-content p {
  margin: 0 !important;
}
.item-listview .opening .uk-accordion-content .item {
  width: 80px !important;
  display: inline-block;
}
.item-listview .opening .uk-accordion-content .info {
  font-weight: 500;
}
.item-listview .opening .open {
  color: #04a139;
}
.item-listview .opening .closed {
  color: #e03939;
}
.item-listview .buttons button {
  padding: 15px;
  border: none;
  font-size: 15px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.item-listview .buttons button:hover {
  background-color: #42AD00;
}
.item-listview .buttons .whatsapp:hover {
  color: #fff;
  background-color: #04a139 !important;
}
.item-listview:hover {
  cursor: pointer;
}

/* Modal */
.uk-modal-dialog {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.uk-modal-dialog .uk-modal-header {
  -webkit-border-radius: 5px 5px 0px 0px !important;
  -moz-border-radius: 5px 5px 0px 0px !important;
  border-radius: 5px 5px 0px 0px !important;
}
.uk-modal-dialog .uk-modal-footer {
  -webkit-border-radius: 0px 0px 5px 5px !important;
  -moz-border-radius: 0px 0px 5px 5px !important;
  border-radius: 0px 0px 5px 5px !important;
}

/* Footer */
/* Footer */
footer {
  background: #011b22;
}
footer p,
footer a {
  color: #dedede !important;
}
footer h4 {
  color: #fff;
  font-weight: 600;
}
footer .uk-icon-button svg {
  color: #1e0141;
}
footer .uk-icon-button:hover {
  background-color: #42AD00;
}
footer .uk-list li a {
  text-transform: none !important;
  font-size: 16px !important;
}
