<div class="uk-card uk-card-default uk-grid-collapse uk-margin" uk-grid>
	<div class="uk-card-media-left uk-cover-container uk-width-1-4@s">
		<img src="https://unsplash.it/600/140/?image=221" alt="" uk-cover>
		<canvas width="600" height="400"></canvas>
	</div>
	<div class="uk-width-expand@s">
		<div class="uk-card-body">
			<h3 class="uk-card-title">Media Left</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
			<p><span uk-icon="location"></span> Santos - SP</p>
		</div>
	</div>
</div>