<div style="background-color: #f0f0f0;">
	<div class="uk-container uk-container-xsmall uk-padding uk-text-center">
		<div class="liloo-form-search">
            <form autocomplete="off">	
                <input type="hidden" name="action" value="search/select/service">
                <input type="hidden" name="path" value="themes/kitbusca/ajax/frontend">
                
                <div class="uk-grid-collapse" uk-grid>
            
                    <!-- Termo -->
                    <div class="uk-width-1-2@s">
                        <input id="autoCompleteCategories" class="first uk-input uk-form-large" name="term" type="text" required>
                    </div>
            
                    <!-- Localidade -->
                    <div class="uk-width-expand@s">		
                        <div class="uk-inline">
                            <span class="uk-form-icon" uk-icon="icon: location"></span>
                            <input id="autoCompleteCities" class="uk-input uk-form-large" name="location" type="text" style="padding-left: 35px;">
                        </div>
                    </div>
            
                    <!-- Buscar -->
                    <div class="uk-width-1-6@s">
                        <button type="submit" class="last ui button massive uk-button-primary uk-button-large uk-width-expand@s" style="color: #fff; font-size: 18px;">Buscar</button>
                    </div>
                </div>
            </form>
        </div>
	</div>
</div>