<div>
	<div class="uk-container uk-padding-small">
		<nav class="uk-navbar-container" uk-navbar>

			<!-- Menu esquerda -->
			<div class="uk-navbar-left">
				<ul class="uk-navbar-nav">
					<li><a href="#">Todos</a></li>
					<li><a href="#">Portfólios</a></li>
					<li><a href="#">Imagems ou Catálogos</a></li>
					<li><a href="#">Vídeos</a></li>
				</ul>
			</div>


			<!-- Menu direita -->
			<div class="uk-navbar-right">
				<ul class="uk-navbar-nav">
					<li>
						<a href="#">Configurações</a>
						<div class="uk-navbar-dropdown">
							<ul class="uk-nav uk-navbar-dropdown-nav">
								<li><a href="#">Ícones</a></li>
								<li><a href="#">Dark mode</a></li>
							</ul>
						</div>

					</li>
				</ul>
			</div>

		</nav>
	</div>
</div>