<div id="ads-banner" class="uk-container">
	<div uk-slideshow="max-height: 300;">
		<div class="uk-position-relative uk-visible-toggle" tabindex="-1">		
			<div class="uk-flex uk-flex-middle uk-flex-between">
				<h2>Destaques <small>Ads</small></h2>
				<div class="uk-slidenav-container">
					<a href="" uk-slidenav-previous uk-slideshow-item="previous"></a>
					<a href="" uk-slidenav-next uk-slideshow-item="next"></a>
				</div>
			</div>					
			<ul class="uk-slideshow-items">
				<li>
					<div uk-grid>
						<div class="uk-width-expand@m">
							<img width="100%" height="300px" src="https://unsplash.it/1200/450/?image=223" alt="">
						</div>
						<div class="uk-width-1-3@m">
							<h3 class="uk-margin-remove">Empreiteira de Obras em São Paulo</h3>
							<p class="uk-margin-remove-top">Lorem ipsum dolor sit, amet consectetur adipisicing elit.
								Expedita, enim sed suscipit fugiat a maxime autem quibusdam minus ab, doloribus tempora
								eligendi saepe laboriosam aliquam quia facilis, dignissimos dolorem perspiciatis.</p>
							<a href="#" class="uk-button uk-button-primary uk-margin">Contatar Profissional</a>
						</div>
					</div>
				</li>
				<li>
					<div uk-grid>
						<div class="uk-width-expand@m">
							<img width="100%" height="300px" src="https://unsplash.it/1200/450/?image=227" alt="">
						</div>
						<div class="uk-width-1-3@m">
							<h2 class="uk-margin-remove">Agencia de Marketing Digital na Baixada Santista</h2>
							<p class="uk-margin-remove">Lorem ipsum dolor sit, amet consectetur adipisicing elit.
								Placeat, sequi! Eveniet inventore voluptatem voluptates numquam deserunt mollitia
								recusandae maiores suscipit corrupti itaque quidem facere harum aut culpa non, fuga,
								distinctio!</p>
							<a href="#" class="uk-button uk-button-primary uk-margin">Contatar Profissional</a>
						</div>
					</div>
				</li>
			</ul>
			<ul class="uk-slideshow-nav uk-dotnav uk-flex-center uk-margin"></ul>
		</div>
	</div>
</div>