<div id="ads-cards" class="uk-container uk-padding">

	<!-- oncontextmenu="return false" ondragstart="return false" onselectstart="return false" -->

	<div class="uk-slider-container-offset" uk-slider="center: false">

		<div class="uk-flex uk-flex-middle uk-flex-between">
			<h2>Empresas que acabaram de chegar na Busque Já que você pode precisar <small>Ads</small></h2>
			<div class="uk-slidenav-container">
				<a href="" uk-slidenav-previous uk-slider-item="previous"></a>
				<a href="" uk-slidenav-next uk-slider-item="next"></a>
			</div>
		</div>


		<div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1">

			<ul class="uk-slider-items uk-child-width-1-2@s uk-child-width-1-3@m uk-child-width-1-4@l uk-grid-small uk-grid-match uk-grid">
				
				<li>
					<div class="uk-card uk-card-default">
						<div class="uk-card-media-top">
							<a href="#">
								<img src="https://unsplash.it/800/450/?image=227" alt="">
							</a>
						</div>
						<div class="uk-card-body uk-padding-small">
							<h2 class="uk-card-title">Arena ômega</h2>
							<span class="aval">4,2 <div class="ui mini star rating"></div> 25 avaliações</span>
							
							<h3 class="categ">Academia em Santos - SP</h3>
							<p>Musculação, Ginastica Localizada, Natação para terceira idade e muitas outras atrações</p>
							<!-- <address>Av. Ana Costa, 482, conj. 922  - Gonzaga - Santos, SP <button>Endereço</button></address> -->
							<!-- Endereço -->
							<div class="see uk-flex uk-flex-between uk-flex-middle">
								<address>Av. Ana Costa, 48... </address>
								<button class="uk-button">Ver endereço</button>
							</div>
							<!-- Telefone -->
							<div class="see uk-flex uk-flex-between uk-flex-middle">
								<p class="phone">(13) 98179...</p>
								<button class="uk-button">Ver telefone</button>
							</div>
							<p>Aberto - Fecha à 00:00</p>
							<!-- Controles -->
							<div class="controls">
								<a href="#" class="uk-button"><i class="map marker alternate icon"></i> Como chegar</a>
								<a href="#" class="uk-button"><i class="phone icon"></i> Ligar</a>
								<a href="#" class="uk-button"><i class="share alternate icon"></i> Compartilhar</a>
							</div>
						</div>
					</div>
				</li>


				<li>
					<div class="uk-card uk-card-default">
						<div class="uk-card-media-top">
							<img src="https://unsplash.it/800/450/?image=228" alt="">
						</div>
						<div class="uk-card-body">
							<h3 class="uk-card-title">Headline</h3>
							<p>sed do eiusmod tempor incididunt.</p>
						</div>
					</div>
				</li>
				<li>
					<div class="uk-card uk-card-default">
						<div class="uk-card-media-top">
							<img src="https://unsplash.it/800/450/?image=230" alt="">
						</div>
						<div class="uk-card-body">
							<h3 class="uk-card-title">Headline</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
								incididunt.</p>
						</div>
					</div>
				</li>
				<li>
					<div class="uk-card uk-card-default">
						<div class="uk-card-media-top">
							<img src="https://unsplash.it/800/450/?image=233" alt="">
						</div>
						<div class="uk-card-body">
							<h3 class="uk-card-title">Headline</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
								incididunt.</p>
						</div>
					</div>
				</li>
				<li>
					<div class="uk-card uk-card-default">
						<div class="uk-card-media-top">
							<img src="https://unsplash.it/800/450/?image=236" alt="">
						</div>
						<div class="uk-card-body">
							<h3 class="uk-card-title">Headline</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
								incididunt.</p>
						</div>
					</div>
				</li>
			</ul>
		</div>
		<ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>
	</div>

</div>
<script>
	$('.ui.rating').rating()
</script>