{# <div id="home-banner-slide" class="uk-height-large uk-background-cover uk-panel uk-flex uk-flex-center uk-flex-middle" style="background-image: url({{ BASE_UPLOADS }}root/kit-busca-guia-de-empresas-e-produtos-com-ferramentas.jpg);"> #}

<div id="home-banner-slide" class="h-full text-white text-center p-10 lg:p-20 bg-gradient-to-r from-[#260656] to-[#4c1d95]">
	
	<div id="home-banner ">
		{# <h1 class="text-4xl lg:text-5xl mb-8 font-semibold text-white">Sua Empresa Conectada com Todos</h1> #}
		<h1 class="text-4xl lg:text-5xl mb-8 font-semibold text-white">Conecte-se com Empresas e Profissionais</h1>
		<h2 class="text-3xl lg:text-4xl mb-2 font-semibold text-white italic">"Aki o Cliente é kitbusca!"</h2>
		<p class="text-xl mb-10">Veja como é fácil encontrar profissionais. Busque Já! De forma gratuita, rápida e simples você busca o que precisa!</p>
		<div class="uk-container uk-flex uk-flex-center">
			<div class="liloo-form-search">
				<form autocomplete="off">	
					<input type="hidden" name="action" value="search/select/service">
					<input type="hidden" name="path" value="themes/kitbusca/ajax/frontend">
					
					<div class="uk-grid-collapse" uk-grid>
			
						<!-- Termo -->
						<div class="uk-width-1-2@s">
							<input id="autoCompleteCategories" class="first uk-input uk-form-large" name="term" type="text" required>
						</div>
			
						<!-- Localidade -->
						<div class="uk-width-expand@s">		
							<div class="uk-inline">
								<span class="uk-form-icon" uk-icon="icon: location"></span>
								<input id="autoCompleteCities" class="uk-input uk-form-large" name="location" type="text" style="padding-left: 35px;">
							</div>
						</div>
			
						<!-- Buscar -->
						<div class="uk-width-1-6@s">
							<button type="submit" class="last ui button massive uk-button-primary uk-button-large uk-width-expand@s" style="color: #fff; font-size: 18px;">Buscar</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

</div>