<!-- Caracteristicas -->
{# <div id="como-funciona" class="uk-container uk-text-center uk-padding">
	<h2 style="font-size: 35px !important;">O que é e como Funciona a Busque Já?</h2>
	<p class="uk-margin-large-bottom">
		Somos uma plataforma de serviços, onde você pode solicitar orçamentos de qualquer lugar do Brasil.
		Temos profissionais qualificados e verificados para suas necessidades. Conectamos Profissionais a Pessoas com
		necessidades reais de serviço. Veja como é facil receber orçamentos na Plataforma Vamove!</p>

	<div class="uk-child-width-1-3@m uk-grid-small uk-grid-match" uk-grid>
		<div>
			<div class="uk-card uk-card-default uk-card-body">
				<p><img width="50px" height="50px" src="{{ BASE_UPLOADS }}icons/search.svg" alt="Pesquisa de Serviços">
				</p>
				<h3 class="uk-card-title">Você pesquisa por empresas ou profissionais</h3>
				<p>Pesquise pelo serviço que você precisa através do buscador ou menu. É rápido, fácil e gratuito!</p>
			</div>
		</div>
		<div>
			<div class="uk-card uk-card-default uk-card-body">
				<p><img width="50px" height="50px" src="{{ BASE_UPLOADS }}icons/order.svg" alt="Escolha a Empresa"></p>
				<h3 class="uk-card-title">Navega pelo site e solicita o contato</h3>
				<p>A partir do momento que você está navegando pelo site para conhecer as empresas, você estará apto a
					receber contatos das empresas</p>
			</div>
		</div>
		<div>
			<div class="uk-card uk-card-default uk-card-body">
				<p><img width="50px" height="50px" src="{{ BASE_UPLOADS }}icons/paper.svg" alt="Receba Orçamentos"></p>
				<h3 class="uk-card-title">Receba Orçamentos de Empresas e Profissionais</h3>
				<p>Receba orçamentos de empresas e negocie as melhores condições para você.</p>
			</div>
		</div>
	</div>
</div> #}

<!-- CTA -->
<div class="liloo-cta uk-padding-large uk-light">
	<div class="uk-container uk-container-small">
		<div class="uk-width-expand@m uk-text-center">
			<h2 style="font-size: 35px !important;">Você é um Profissional ou Empresa?<br> Anuncie aqui porque o cliente é kit busca!</h2>
			<p style="font-size: 18px">
				Na Kitbusca você recebe solicitações de orçamentos. Você terá sua própria página, seu anúncio, seu catálogo e, além de tudo, muitas ferramentas para te ajudar a potencializar e organizar suas vendas. Estamos aqui para dar um
				empurrãozinho!</p>
				<div class="uk-animation-toggle" tabindex="0">
					<a href="{{ BASE }}conta/cadastre-se/" class="uk-animation-shake uk-button uk-button-secondary uk-button-xlarge uk-margin-top">Anuncie Grátis</a>
				</div>
		</div>
	</div>
</div>