// @import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');
// Font
// $font-family: 'Oxygen', sans-serif;
// $font-family: 'Helvetica', sans-serif;


// $side-bar: 30%;
// $side-bar-small: 10%;
// Globals

// Border
$global-border-radius: 4px;

// Padding
$global-padding: 15px;
$global-padding-vertical-container: 2%;
$global-padding-grid: 15px;

// Sizes
$global-h1: 26px;
$global-h2: 24px;
$global-h3: 22px;
$global-h4: 20px;
$global-h5: 18px;
$global-h6: 14px;

// Colors
$color-heading: #5f5f5f;
$color-body: #e0e0e0;
$color-card: #fafafa;
$color-goblal: #1974DB;

// Barra de rolagem
$color-bg-scroolbar: #e0e0e0; 
$width-scroolbar: 12px;