
%h1 Complete seu cadastro para ver orçamentos!
%h3 Com essas informações vamos mostrar orportunidades em sua região

%form.uk-card.uk-card-default.uk-card-body.uk-margin-small
    %div.uk-grid-small.uk-grid
        %div 
            %input{ :type => "text", :name => "account_name", :class => "uk-input" }
        %div 
            %input{ :type => "text", :name => "account_name", :class => "uk-input" }

        %div 
            {{account_name}}

        %div
            %div 
                %div 
                    %a(href="") 
                        