.upload_listing{
    height: 400px;
    overflow-y: scroll;
    padding-right: 15px;
}
.upload_listing .item,
.upload_listing .item-default {
    height: 135px;
}
.upload_listing .item-default div{
    align-items: center; 
    justify-content: center;  
    display: flex;
    height: 135px;
    background: #f3f3f3;
}
.upload_listing .item div,
.upload_listing .item-default div{ 
    cursor: pointer;
    border: 2px solid #ffffff;
}
.upload_listing .item div:hover,
.upload_listing .item-default div:hover{
    border: 2px solid #d8d8d8;
}
.upload_listing .item .uk-background-cover {
    width: 100% !important;
    height: 135px;
}

object{
    width: 100%;
    height: 300px;
}
audio{
    width: 100%;
}
video{
    max-height: 300px;
}

/* Tela menos que 680px */
@media only screen and (max-width: 680px) {

    .upload_listing .item,
    .upload_listing .item-default {
        width: 25%;
        height: 100px;
    }

    .upload_listing .item-default div{
        align-items: center; 
        justify-content: center; 
        display: flex;
        height: 100px;
        background: #f3f3f3;
    }

    .upload_listing .item .uk-background-cover {
        width: 100% !important;
        height: 100px;
    }
}

/* Tela menos que 460px */
@media only screen and (max-width: 460px) {
    .upload_listing .item,
    .upload_listing .item-default {
        width: 33.3%;
        height: 100px;
    }
}


/* Ajustes */
.ads_hashtags {
    max-height: 200px;
    overflow-y: auto;
}

.ads_hashtags span {
    background-color: #f1f1f1;
    padding: 5px 15px;
    border-radius: 3px;
    margin: 0 5px 5px 0;
    display: inline-block;
}


.uk-form-icon {
    border-radius: 4px;
    margin: 3px;
}

.uk-form-icon:hover {
    background-color: #ececec;
}

.uk-form-icon svg {
    width: 17px;
}

.workers-list .uk-list li {
    padding: 8px 15px 8px 17px !important
}

.workers-list #account_users_list {
    max-height: calc(60vh);
    min-height: 30px;
    overflow-y: auto;
}

.uk-modal-full .uk-list li, .uk-list li {
    padding: 0 !important;
    margin: 0px !important;
}


/* Spinner */
.uk-card [uk-spinner] {
    width: 14px;
    margin-left: 5px;
    color: black;
}


@media only screen and (max-width: 680px) {

    /* #liloo-admin-content{
        padding-left: 0px !important;
        padding-right: 0px !important;
    } */
    .liloo-content {
        left: 0;
        width: 100%;
    }
}


.liloo-overflow .ui {
    height: calc(100vh - 80px);
    display: grid;
    grid-template-rows: 1fr;
    /* background-color: #0079bf; */
    color: #eee;
    /* margin: 0 -55px !important; */
    /* padding: 15px; */
}

/* .navbar {
    padding-left: 10px;
    display: flex;
    align-items: center;
} */
/* .navbar.app {
    background-color: #0067a3;
    font-size: 1.5rem;
} */
.liloo-overflow .navbar.board {
    font-size: 1.1rem;
}


/* TODAS AS LISTAS */
.liloo-overflow .lists {
    display: flex;
    overflow-x: auto;
}

.liloo-overflow .lists>* {
    flex: 0 0 auto;
    margin-left: 10px;
}

.liloo-overflow .lists::after {
    content: "";
    flex: 0 0 10px;
}

/* COLUNA - LIST */
.liloo-overflow .list {
    width: 300px;
    height: calc(100% - 10px - 17px);
}

.liloo-overflow .list>* {
    background-color: #e2e4e6;
    color: #333;
    padding: 0 10px;
}

.liloo-overflow .list header {
    line-height: 40px;
    font-size: 18px;
    /* font-weight: bold; */
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.liloo-overflow .list footer {
    line-height: 36px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #888;
}

.liloo-overflow .list ul {
    list-style: none;
    margin: 0;
    max-height: calc(100% - 36px - 36px);
    min-height: 30px;
    overflow-y: auto;
}

.liloo-overflow .list ul li {
    background-color: #fff;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 7px;
}

.liloo-overflow .list ul li:not(:last-child) {
    margin-bottom: 10px;
}

.liloo-overflow .list ul li img {
    display: block;
    /* width: calc(100% + 2 * 10px); */
    /* margin: -10px 0 10px -10px; */
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

/* CARD */
.list-card-matrix {
    color: #1f1f1f;
}

.list-card-matrix a {
    color: #1f1f1f;
}

.list-card-matrix a:hover {
    text-decoration: none;
    /* cursor: pointer; */
}

.list-card-matrix {
    width: 280px;
}

.list-card-matrix li:hover {
    background-color: #f7f7f7 !important;
}

.list-card-matrix li:active {
    background-color: #fffde4 !important;
    transform: rotate(3deg);
    -webkit-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    position: relative;
    /* cursor: move; */
}

.list-card-matrix li a:not() {
    background-color: #fffde4 !important;
}


.list-card-matrix h5 {
    text-transform: capitalize !important;
    font-weight: 500;
    margin: 0;
}

.list-card-matrix p {
    margin: 0;
    font-size: 14px;
}



/* AJUSTES */
.liloo-click-rotate {
    transform: rotate(3deg);
    -webkit-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    position: relative;
    /* cursor: move; */
}

.liloo-btn-plus {
    background: #debe05;
    color: #191919;
    width: 38px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    position: fixed;
    bottom: 25px;
    right: 25px;
    border-radius: 64px;
    padding: 0px 11px 0px 11px;
    -webkit-box-shadow: 0px 2px 26px 0px rgb(0 0 0 / 15%);
    -moz-box-shadow: 0px 2px 26px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 2px 26px 0px rgb(0 0 0 / 15%);
    z-index: 999999;
}

.liloo-btn-plus:hover {
    text-decoration: none;
    background: #d3b400;
    color: #191919;
}


/* Ajuste Datepicker */
.daterangepicker select.hourselect,
.daterangepicker select.minuteselect {
    width: 46%;
    margin: 0 0 0 0;
    background: #eee;
    border: 1px solid #eee;
    padding: 6px;
    outline: 0;
    font-size: 14px;
}

.daterangepicker .calendar-time {
    margin: 15px 6px 0 0;
    line-height: 20px;
    position: relative;
}

/* DROPZONE */
/* .dropzone{
    position: absolute;
    top: 100px;
    bottom: 71px;
    width: 87%;
    overflow: auto;
}
.dropzone-controls{
    position: absolute;
    bottom: 5px;
} */

.dropzone {
    cursor: pointer;
    border: 5px #dedede dashed;
    background: none;
}

.dropzone .dz-preview {
    background: none !important;
}

.dropzone .dz-preview:hover .dz-image img {
    -webkit-filter: blur(2px) !important;
    filter: blur(2px) !important;
}

.dropzone .dz-message {
    font-size: 20px !important;
    line-height: 25px !important;
    padding: 20px !important;
}

.dropzone .dz-preview .dz-image {
    -webkit-border-radius: 3px !important;
    -moz-border-radius: 3px !important;
    border-radius: 3px !important;
}

.dropzone .dz-preview .dz-details .dz-size {
    font-size: 12px;
    font-weight: 400;
}

.dropzone .dz-preview .dz-progress {
    height: 12px;
    left: 50px;
    top: 107px;
    margin-top: -8px;
    width: 100px;
    margin-left: -40px;
    border-radius: 3px;
}

.dropzone .dz-preview .dz-remove {
    background: #a1a1a1;
    color: #fff;
    font-weight: 600;
    width: 30px;
    height: 30px;
    border-radius: 100px;
    text-decoration: none !important;
    position: absolute;
    top: -8px;
    right: -8px;
    z-index: 100;
}

.dropzone .dz-preview .dz-remove i {
    margin: 5px;
}

@media only screen and (max-width: 680px) {
    .dropzone .dz-preview .dz-image {
        width: 80px;
        height: 80px;
    }

    .dropzone .dz-preview .dz-details {
        min-width: 100%;
        max-width: 100%;
        padding: 10px 10px;
    }

    .dropzone .dz-preview .dz-details .dz-size {
        font-size: 10px;
        margin: 3px;
    }

    .dropzone .dz-preview .dz-progress {
        top: 68px;
        width: 60px;
    }

    .dropzone .dz-preview .dz-success-mark svg,
    .dropzone .dz-preview .dz-error-mark svg {
        padding: 10px;
        margin-top: -9px;
    }

    .dropzone .dz-preview .dz-error-message {
        font-size: 11px;
        top: 70px;
        left: -29px;
    }

    .dropzone .dz-preview {
        margin: 12px !important;
        margin-bottom: -5px !important;
    }
}